body {
  background-color: whitesmoke;
  font-family: 'Commissioner', sans-serif;
}
.Mobile-list {
  visibility: hidden;
}
.top-div-index {
  height: 40%;
  text-align: center;
}
.mid-div-index {
  text-align: center;
  background-color: white;
  height: 40%;
}
.bottom-div-index {
  background-color: whitesmoke;
  height: 40%;
}
.vid-right {
  display: block;
  float: right;
}
.buttons {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Commissioner', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  box-shadow: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.reg-main-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.heading {
  margin: 10% 40% 0% 40%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.reg-main-div {
  margin: 10% 20% 20% 30%;
  height: 40%;
  width: 40%;
  background-color: white;
  text-align: center;
}
.textbackground {
  width: 80%;
  margin: 0% 7% 0% 7%;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  .mid-div-index {
    visibility: hidden;
  }
  .top-div-index {
    height: 100%;
  }
  .textbackground {
    height: 80%;
  }
  .reg-main-div {
    margin: 10% 20% 20% 7%;
    height: 48%;
    width: 72%;
    background-color: white;
    text-align: center;
  }
  .mobile-del {
    visibility: hidden;
    height: 0px;
  }
}
